sudo: required
services:
 - docker

before_install:
 - docker build -t react-test -f ./client/Dockerfile.dev .

script:
 - docker run react-test npm test -- --coverage

after_succes: 
 - docker build -t multi-client ./client 
 - docker build -t multi-nginx ./nginx
 - docker build -t multi-server ./server
 - docker build -t multi-worker ./worker

#log im tp the dcoker CLI
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
# take images an push them to docker
 - docker push multi-client
 - docker push multi-nginx
 - docker push multi-server
 - docker push multi-worker
